@import "./base.css";

.flipx {
  transform: scale(-1, 1);
}

.center {
  margin: 0 auto;
}

.container {
  margin: 0 auto 1rem auto;
  padding: 0 2rem;
  max-width: 60rem;
}

.page-heading {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  letter-spacing: 3px;
  font-family: "Raleway", sans-serif;
}

.subheading {
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 30em) {
  html {
    font-size: 90%;
  }
}
